In [16]:
import pandas as pd
df = pd.read_csv('adult.csv')
CAT = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'gender', 'native-country']
NUM = ['age', 'fnlwgt', 'educational-num', 'capital-gain', 'capital-loss', 'hours-per-week']
LABEL = ['income']
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [17]:
# apply one-hot encoding catagorical column
from sklearn.preprocessing import OneHotEncoder

new_df = pd.get_dummies(df[CAT]).astype(int)
new_df[NUM] = df[NUM]
new_df[LABEL[0]] = pd.get_dummies(df[LABEL])['income_>50K'].astype(int)

new_df.to_csv('data.txt', index=False, header=False,sep=' ')
# new_df.to_csv('data.csv', index=False, header=False)
new_df
# pd.DataFrame(new_df)

,workclass_?,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,education_10th,...,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week,income
0,0,0,0,0,1,0,0,0,0,0,...,1,0,0,25,226802,7,0,0,40,0
1,0,0,0,0,1,0,0,0,0,0,...,1,0,0,38,89814,9,0,0,50,0
2,0,0,1,0,0,0,0,0,0,0,...,1,0,0,28,336951,12,0,0,40,1
3,0,0,0,0,1,0,0,0,0,0,...,1,0,0,44,160323,10,7688,0,40,1
4,1,0,0,0,0,0,0,0,0,0,...,1,0,0,18,103497,10,0,0,30,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,0,0,0,0,1,0,0,0,0,0,...,1,0,0,27,257302,12,0,0,38,0
48838,0,0,0,0,1,0,0,0,0,0,...,1,0,0,40,154374,9,0,0,40,1
48839,0,0,0,0,1,0,0,0,0,0,...,1,0,0,58,151910,9,0,0,40,0
48840,0,0,0,0,1,0,0,0,0,0,...,1,0,0,22,201490,9,0,0,20,0
48841,0,0,0,0,0,1,0,0,0,0,...,1,0,0,52,287927,9,15024,0,40,1

In [55]:
pd.DataFrame(range(len(new_df.columns)-1)).to_csv('index_features.txt', index=False, header=False)
pd.DataFrame([len(new_df.columns)-1]).to_csv('index_target.txt', index=False, header=False)

# compas

In [38]:
import pandas as pd
df = pd.read_csv('compas.csv')
df

,sex,age,juv_misd_count,priors_count,age_cat_25-45,age_cat_Greaterthan45,age_cat_Lessthan25,race_African-American,race_Caucasian,c_charge_degree_F,c_charge_degree_M,twoyearrecid
0,1,27,0,1,1,0,0,1,0,1,0,0
1,1,23,0,2,0,0,1,1,0,1,0,0
2,0,61,0,0,0,1,0,0,1,0,1,0
3,1,26,0,5,1,0,0,0,1,0,1,0
4,0,20,0,0,0,0,1,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
4961,1,35,0,8,1,0,0,1,0,0,1,1
4962,0,20,0,0,0,0,1,1,0,0,1,1
4963,1,30,1,19,1,0,0,1,0,1,0,1
4964,1,21,0,0,0,0,1,0,1,0,1,1
4965,1,30,0,0,1,0,0,1,0,0,1,1

In [39]:
CAT=['sex','age_cat_25-45','age_cat_Greaterthan45','age_cat_Lessthan25','race_African-American','race_Caucasian','c_charge_degree_F','c_charge_degree_M']
NUM=['age','juv_misd_count','priors_count']
LABEL=['twoyearrecid']

In [40]:
df['twoyearrecid'].unique()

array([0, 1])

In [41]:
# apply one-hot encoding catagorical column
from sklearn.preprocessing import OneHotEncoder

new_df = pd.get_dummies(df[CAT].astype(str)).astype(int)
new_df[NUM] = df[NUM]
new_df[LABEL] = df[LABEL]
# new_df[LABEL] = pd.get_dummies(df[LABEL])[1].astype(int)

new_df.to_csv('data.txt', index=False, header=False,sep=' ')
# new_df.to_csv('data.csv', index=False, header=False)
new_df
# pd.DataFrame(new_df)

,sex_0,sex_1,age_cat_25-45_0,age_cat_25-45_1,age_cat_Greaterthan45_0,age_cat_Greaterthan45_1,age_cat_Lessthan25_0,age_cat_Lessthan25_1,race_African-American_0,race_African-American_1,race_Caucasian_0,race_Caucasian_1,c_charge_degree_F_0,c_charge_degree_F_1,c_charge_degree_M_0,c_charge_degree_M_1,age,juv_misd_count,priors_count,twoyearrecid
0,0,1,0,1,1,0,1,0,0,1,1,0,0,1,1,0,27,0,1,0
1,0,1,1,0,1,0,0,1,0,1,1,0,0,1,1,0,23,0,2,0
2,1,0,1,0,0,1,1,0,1,0,0,1,1,0,0,1,61,0,0,0
3,0,1,0,1,1,0,1,0,1,0,0,1,1,0,0,1,26,0,5,0
4,1,0,1,0,1,0,0,1,0,1,1,0,1,0,0,1,20,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4961,0,1,0,1,1,0,1,0,0,1,1,0,1,0,0,1,35,0,8,1
4962,1,0,1,0,1,0,0,1,0,1,1,0,1,0,0,1,20,0,0,1
4963,0,1,0,1,1,0,1,0,0,1,1,0,0,1,1,0,30,1,19,1
4964,0,1,1,0,1,0,0,1,1,0,0,1,1,0,0,1,21,0,0,1
4965,0,1,0,1,1,0,1,0,0,1,1,0,1,0,0,1,30,0,0,1

In [42]:
pd.DataFrame(range(len(new_df.columns)-1)).to_csv('index_features.txt', index=False, header=False)
pd.DataFrame([len(new_df.columns)-1]).to_csv('index_target.txt', index=False, header=False)

# compas old

In [3]:
import pandas as pd
df = pd.read_csv('compass_old.csv')
df

,sex,age,age_cat,race,juv_fel_count,juv_misd_count,juv_other_count,priors_count,days_b_screening_arrest,c_days_from_compas,c_charge_degree,decile_score.1,score_text,v_type_of_assessment,v_decile_score,v_score_text,end,is_recid
0,1,25,0,0,0,0,0,0,-1.0,1.0,3,3,1,0,3,1,734,-1
1,0,37,0,2,0,0,0,2,-1.0,1.0,2,4,2,0,1,1,110,-1
2,1,33,0,2,0,0,0,4,-56.0,56.0,6,5,2,0,4,2,961,-1
3,0,44,0,2,0,0,0,4,-11.0,11.0,2,3,1,0,1,1,736,-1
4,0,24,2,2,0,0,4,1,-24.0,24.0,7,3,1,0,3,1,1046,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16639,1,21,2,2,0,0,0,0,-1.0,1.0,7,5,2,0,6,2,1057,0
16640,1,30,0,0,0,0,0,0,-1.0,1.0,7,1,1,0,1,1,530,0
16641,1,30,0,0,0,0,0,0,-1.0,1.0,7,1,1,0,1,1,692,0
16642,0,23,2,3,0,0,0,2,-2.0,2.0,3,3,1,0,3,1,258,0
16643,0,23,2,3,0,0,0,2,-2.0,2.0,3,3,1,0,3,1,641,0

In [8]:
CAT=['sex','age_cat','race','c_charge_degree','decile_score.1','score_text','v_type_of_assessment','v_decile_score','v_score_text']
NUM=['age','juv_fel_count','juv_misd_count','juv_other_count','priors_count','days_b_screening_arrest','c_days_from_compas','end']
LABEL = ['is_recid']

In [9]:
# apply one-hot encoding catagorical column
from sklearn.preprocessing import OneHotEncoder

new_df = pd.get_dummies(df[CAT].astype(str)).astype(int)
new_df[NUM] = df[NUM]
new_df[LABEL] = df[LABEL]
# new_df[LABEL] = pd.get_dummies(df[LABEL])[1].astype(int)

new_df.to_csv('data.txt', index=False, header=False,sep=' ')
# new_df.to_csv('data.csv', index=False, header=False)
new_df
# pd.DataFrame(new_df)

,sex_0,sex_1,age_cat_0,age_cat_1,age_cat_2,race_0,race_1,race_2,race_3,race_4,...,v_score_text_2,age,juv_fel_count,juv_misd_count,juv_other_count,priors_count,days_b_screening_arrest,c_days_from_compas,end,is_recid
0,0,1,1,0,0,1,0,0,0,0,...,0,25,0,0,0,0,-1.0,1.0,734,-1
1,1,0,1,0,0,0,0,1,0,0,...,0,37,0,0,0,2,-1.0,1.0,110,-1
2,0,1,1,0,0,0,0,1,0,0,...,1,33,0,0,0,4,-56.0,56.0,961,-1
3,1,0,1,0,0,0,0,1,0,0,...,0,44,0,0,0,4,-11.0,11.0,736,-1
4,1,0,0,0,1,0,0,1,0,0,...,0,24,0,0,4,1,-24.0,24.0,1046,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16639,0,1,0,0,1,0,0,1,0,0,...,1,21,0,0,0,0,-1.0,1.0,1057,0
16640,0,1,1,0,0,1,0,0,0,0,...,0,30,0,0,0,0,-1.0,1.0,530,0
16641,0,1,1,0,0,1,0,0,0,0,...,0,30,0,0,0,0,-1.0,1.0,692,0
16642,1,0,0,0,1,0,0,0,1,0,...,0,23,0,0,0,2,-2.0,2.0,258,0
16643,1,0,0,0,1,0,0,0,1,0,...,0,23,0,0,0,2,-2.0,2.0,641,0

In [10]:
pd.DataFrame(range(len(new_df.columns)-1)).to_csv('index_features.txt', index=False, header=False)
pd.DataFrame([len(new_df.columns)-1]).to_csv('index_target.txt', index=False, header=False)

# eye_movements_num

In [2]:
import pandas as pd
df = pd.read_csv('eye_movements_num.csv')
df

,lineNo,assgNo,prevFixDur,firstfixDur,firstPassFixDur,nextFixDur,firstSaccLen,lastSaccLen,prevFixPos,landingPos,...,totalFixDur,meanFixDur,regressLen,regressDur,pupilDiamMax,pupilDiamLag,timePrtctg,titleNo,wordNo,label
0,9684.0,298.0,99.0,119.0,119.0,238.0,300.1666,288.0156,246.0732,56.6326,...,119.0,119.0000,0.0,0.0,0.1541,0.4446,0.0176,4.0,3.0,0
1,2065.0,66.0,119.0,159.0,239.0,100.0,306.1066,117.2359,321.0140,47.3207,...,239.0,119.5000,0.0,159.0,0.0119,0.3264,0.0239,8.0,1.0,0
2,1969.0,61.0,139.0,139.0,357.0,179.0,590.5294,805.0531,479.3078,112.3610,...,536.0,178.6667,258.0,0.0,0.0874,0.0859,0.0431,4.0,8.0,0
3,10326.0,315.0,199.0,139.0,219.0,99.0,80.9475,306.5587,153.1698,79.8389,...,198.0,99.0000,0.0,396.0,0.0173,0.1453,0.0264,4.0,2.0,0
4,6827.0,204.0,80.0,100.0,239.0,139.0,110.7576,161.4845,189.6207,96.7471,...,139.0,139.0000,0.0,378.0,0.3229,0.4074,0.0288,2.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7603,10923.0,336.0,219.0,219.0,219.0,119.0,277.4140,27.8568,281.0640,18.6078,...,219.0,219.0000,417.0,139.0,0.2830,0.4085,0.0187,9.0,4.0,1
7604,10924.0,336.0,219.0,119.0,278.0,139.0,27.8568,69.0290,111.3643,84.8528,...,278.0,139.0000,0.0,278.0,0.2830,0.4730,0.0237,9.0,3.0,1
7605,10925.0,336.0,219.0,219.0,219.0,119.0,69.0290,165.0273,55.7136,30.3026,...,139.0,139.0000,417.0,139.0,0.2830,0.4730,0.0119,9.0,4.0,1
7606,10926.0,336.0,139.0,179.0,179.0,80.0,165.0273,1445.4747,122.5887,38.3471,...,179.0,179.0000,0.0,0.0,0.2230,0.4730,0.0153,9.0,5.0,1
7607,10927.0,336.0,179.0,80.0,80.0,219.0,1445.4747,718.3572,23.4094,95.5196,...,80.0,80.0000,0.0,0.0,0.2675,0.4730,0.0068,9.0,6.0,1

In [3]:
CAT=[]
NUM=['lineNo','assgNo','prevFixDur','firstfixDur','firstPassFixDur','nextFixDur','firstSaccLen','lastSaccLen','prevFixPos','landingPos','leavingPos','totalFixDur','meanFixDur','regressLen','regressDur','pupilDiamMax','pupilDiamLag','timePrtctg','titleNo','wordNo']
LABEL=['label']

In [6]:
# apply one-hot encoding catagorical column
from sklearn.preprocessing import OneHotEncoder
new_df = df.astype(int)
# new_df = pd.get_dummies(df[CAT].astype(str)).astype(int)
new_df[NUM] = df[NUM]
new_df[LABEL] = df[LABEL]
# new_df[LABEL] = pd.get_dummies(df[LABEL])[1].astype(int)

new_df.to_csv('data.txt', index=False, header=False,sep=' ')
# new_df.to_csv('data.csv', index=False, header=False)
new_df
# pd.DataFrame(new_df)

,lineNo,assgNo,prevFixDur,firstfixDur,firstPassFixDur,nextFixDur,firstSaccLen,lastSaccLen,prevFixPos,landingPos,...,totalFixDur,meanFixDur,regressLen,regressDur,pupilDiamMax,pupilDiamLag,timePrtctg,titleNo,wordNo,label
0,9684.0,298.0,99.0,119.0,119.0,238.0,300.1666,288.0156,246.0732,56.6326,...,119.0,119.0000,0.0,0.0,0.1541,0.4446,0.0176,4.0,3.0,0
1,2065.0,66.0,119.0,159.0,239.0,100.0,306.1066,117.2359,321.0140,47.3207,...,239.0,119.5000,0.0,159.0,0.0119,0.3264,0.0239,8.0,1.0,0
2,1969.0,61.0,139.0,139.0,357.0,179.0,590.5294,805.0531,479.3078,112.3610,...,536.0,178.6667,258.0,0.0,0.0874,0.0859,0.0431,4.0,8.0,0
3,10326.0,315.0,199.0,139.0,219.0,99.0,80.9475,306.5587,153.1698,79.8389,...,198.0,99.0000,0.0,396.0,0.0173,0.1453,0.0264,4.0,2.0,0
4,6827.0,204.0,80.0,100.0,239.0,139.0,110.7576,161.4845,189.6207,96.7471,...,139.0,139.0000,0.0,378.0,0.3229,0.4074,0.0288,2.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7603,10923.0,336.0,219.0,219.0,219.0,119.0,277.4140,27.8568,281.0640,18.6078,...,219.0,219.0000,417.0,139.0,0.2830,0.4085,0.0187,9.0,4.0,1
7604,10924.0,336.0,219.0,119.0,278.0,139.0,27.8568,69.0290,111.3643,84.8528,...,278.0,139.0000,0.0,278.0,0.2830,0.4730,0.0237,9.0,3.0,1
7605,10925.0,336.0,219.0,219.0,219.0,119.0,69.0290,165.0273,55.7136,30.3026,...,139.0,139.0000,417.0,139.0,0.2830,0.4730,0.0119,9.0,4.0,1
7606,10926.0,336.0,139.0,179.0,179.0,80.0,165.0273,1445.4747,122.5887,38.3471,...,179.0,179.0000,0.0,0.0,0.2230,0.4730,0.0153,9.0,5.0,1
7607,10927.0,336.0,179.0,80.0,80.0,219.0,1445.4747,718.3572,23.4094,95.5196,...,80.0,80.0000,0.0,0.0,0.2675,0.4730,0.0068,9.0,6.0,1

In [7]:
pd.DataFrame(range(len(new_df.columns)-1)).to_csv('index_features.txt', index=False, header=False)
pd.DataFrame([len(new_df.columns)-1]).to_csv('index_target.txt', index=False, header=False)

# eye_movements_cat

In [17]:
import pandas as pd
df = pd.read_csv('eye_movements_cat.csv')
df

,lineNo,assgNo,P1stFixation,P2stFixation,prevFixDur,firstfixDur,firstPassFixDur,nextFixDur,firstSaccLen,lastSaccLen,...,meanFixDur,regressLen,nextWordRegress,regressDur,pupilDiamMax,pupilDiamLag,timePrtctg,titleNo,wordNo,label
0,9684.0,298.0,0,1,99.0,119.0,119.0,238.0,300.1666,288.0156,...,119.0000,0.0,0,0.0,0.1541,0.4446,0.0176,4.0,3.0,0
1,2065.0,66.0,1,1,119.0,159.0,239.0,100.0,306.1066,117.2359,...,119.5000,0.0,1,159.0,0.0119,0.3264,0.0239,8.0,1.0,0
2,1969.0,61.0,0,1,139.0,139.0,357.0,179.0,590.5294,805.0531,...,178.6667,258.0,0,0.0,0.0874,0.0859,0.0431,4.0,8.0,0
3,10326.0,315.0,1,0,199.0,139.0,219.0,99.0,80.9475,306.5587,...,99.0000,0.0,1,396.0,0.0173,0.1453,0.0264,4.0,2.0,0
4,6827.0,204.0,1,1,80.0,100.0,239.0,139.0,110.7576,161.4845,...,139.0000,0.0,1,378.0,0.3229,0.4074,0.0288,2.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7603,10923.0,336.0,1,0,219.0,219.0,219.0,119.0,277.4140,27.8568,...,219.0000,417.0,0,139.0,0.2830,0.4085,0.0187,9.0,4.0,1
7604,10924.0,336.0,1,0,219.0,119.0,278.0,139.0,27.8568,69.0290,...,139.0000,0.0,1,278.0,0.2830,0.4730,0.0237,9.0,3.0,1
7605,10925.0,336.0,1,0,219.0,219.0,219.0,119.0,69.0290,165.0273,...,139.0000,417.0,0,139.0,0.2830,0.4730,0.0119,9.0,4.0,1
7606,10926.0,336.0,1,0,139.0,179.0,179.0,80.0,165.0273,1445.4747,...,179.0000,0.0,0,0.0,0.2230,0.4730,0.0153,9.0,5.0,1
7607,10927.0,336.0,1,0,179.0,80.0,80.0,219.0,1445.4747,718.3572,...,80.0000,0.0,0,0.0,0.2675,0.4730,0.0068,9.0,6.0,1

In [18]:
CAT=['P1stFixation','P2stFixation','nextWordRegress']
NUM=['assgNo','lineNo','prevFixDur','firstfixDur','firstPassFixDur','nextFixDur','firstSaccLen','lastSaccLen','prevFixPos','landingPos','leavingPos','totalFixDur','meanFixDur','regressLen','regressDur','pupilDiamMax','pupilDiamLag','timePrtctg','titleNo','wordNo']
LABEL=['label']

In [19]:
# apply one-hot encoding catagorical column
from sklearn.preprocessing import OneHotEncoder

new_df = pd.get_dummies(df[CAT].astype(str)).astype(int)
new_df[NUM] = df[NUM]
new_df[LABEL] = df[LABEL]
# new_df[LABEL] = pd.get_dummies(df[LABEL])[1].astype(int)

new_df.to_csv('data.txt', index=False, header=False,sep=' ')
# new_df.to_csv('data.csv', index=False, header=False)
new_df
# pd.DataFrame(new_df)

,P1stFixation_0,P1stFixation_1,P2stFixation_0,P2stFixation_1,nextWordRegress_0,nextWordRegress_1,assgNo,lineNo,prevFixDur,firstfixDur,...,totalFixDur,meanFixDur,regressLen,regressDur,pupilDiamMax,pupilDiamLag,timePrtctg,titleNo,wordNo,label
0,1,0,0,1,1,0,298.0,9684.0,99.0,119.0,...,119.0,119.0000,0.0,0.0,0.1541,0.4446,0.0176,4.0,3.0,0
1,0,1,0,1,0,1,66.0,2065.0,119.0,159.0,...,239.0,119.5000,0.0,159.0,0.0119,0.3264,0.0239,8.0,1.0,0
2,1,0,0,1,1,0,61.0,1969.0,139.0,139.0,...,536.0,178.6667,258.0,0.0,0.0874,0.0859,0.0431,4.0,8.0,0
3,0,1,1,0,0,1,315.0,10326.0,199.0,139.0,...,198.0,99.0000,0.0,396.0,0.0173,0.1453,0.0264,4.0,2.0,0
4,0,1,0,1,0,1,204.0,6827.0,80.0,100.0,...,139.0,139.0000,0.0,378.0,0.3229,0.4074,0.0288,2.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7603,0,1,1,0,1,0,336.0,10923.0,219.0,219.0,...,219.0,219.0000,417.0,139.0,0.2830,0.4085,0.0187,9.0,4.0,1
7604,0,1,1,0,0,1,336.0,10924.0,219.0,119.0,...,278.0,139.0000,0.0,278.0,0.2830,0.4730,0.0237,9.0,3.0,1
7605,0,1,1,0,1,0,336.0,10925.0,219.0,219.0,...,139.0,139.0000,417.0,139.0,0.2830,0.4730,0.0119,9.0,4.0,1
7606,0,1,1,0,1,0,336.0,10926.0,139.0,179.0,...,179.0,179.0000,0.0,0.0,0.2230,0.4730,0.0153,9.0,5.0,1
7607,0,1,1,0,1,0,336.0,10927.0,179.0,80.0,...,80.0,80.0000,0.0,0.0,0.2675,0.4730,0.0068,9.0,6.0,1

In [ ]:
pd.DataFrame(range(len(new_df.columns)-1)).to_csv('index_features.txt', index=False, header=False)
pd.DataFrame([len(new_df.columns)-1]).to_csv('index_target.txt', index=False, header=False)

# electricity_cat

In [1]:
import pandas as pd
df = pd.read_csv('electricity_cat.csv')
df

,date,day,period,nswprice,nswdemand,vicprice,vicdemand,transfer,class
0,0.898987,2,0.957447,0.068632,0.568283,0.004456,0.456499,0.644737,DOWN
1,0.867616,5,0.234043,0.033716,0.337102,0.001672,0.329622,0.846930,DOWN
2,0.009159,6,0.255319,0.059175,0.185808,0.003467,0.422915,0.414912,DOWN
3,0.898987,2,0.531915,0.087577,0.539572,0.004936,0.637752,0.491667,DOWN
4,0.868280,6,0.085106,0.027021,0.165129,0.001271,0.265924,0.748246,DOWN
...,...,...,...,...,...,...,...,...,...
38469,0.915800,6,0.404255,0.077549,0.456263,0.005332,0.378560,0.356140,UP
38470,0.915800,6,0.425532,0.074397,0.444213,0.005110,0.377525,0.369737,UP
38471,0.915800,6,0.468085,0.072835,0.423386,0.005019,0.354480,0.380263,UP
38472,0.915800,6,0.829787,0.065420,0.353913,0.004508,0.319524,0.319737,UP
38473,0.915800,6,0.978723,0.066651,0.329366,0.004630,0.345417,0.206579,UP

In [2]:
CAT=['day']
NUM=['date','period','nswprice','nswdemand','vicprice','vicdemand','transfer']
LABEL=['class']

In [3]:
# apply one-hot encoding catagorical column
from sklearn.preprocessing import OneHotEncoder

new_df = pd.get_dummies(df[CAT].astype(str)).astype(int)
new_df[NUM] = df[NUM]
new_df[LABEL] = df[LABEL]
# new_df[LABEL] = pd.get_dummies(df[LABEL])[1].astype(int)

new_df.to_csv('data.txt', index=False, header=False,sep=' ')
# new_df.to_csv('data.csv', index=False, header=False)
new_df
# pd.DataFrame(new_df)

,day_0,day_1,day_2,day_3,day_4,day_5,day_6,date,period,nswprice,nswdemand,vicprice,vicdemand,transfer,class
0,0,0,1,0,0,0,0,0.898987,0.957447,0.068632,0.568283,0.004456,0.456499,0.644737,DOWN
1,0,0,0,0,0,1,0,0.867616,0.234043,0.033716,0.337102,0.001672,0.329622,0.846930,DOWN
2,0,0,0,0,0,0,1,0.009159,0.255319,0.059175,0.185808,0.003467,0.422915,0.414912,DOWN
3,0,0,1,0,0,0,0,0.898987,0.531915,0.087577,0.539572,0.004936,0.637752,0.491667,DOWN
4,0,0,0,0,0,0,1,0.868280,0.085106,0.027021,0.165129,0.001271,0.265924,0.748246,DOWN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38469,0,0,0,0,0,0,1,0.915800,0.404255,0.077549,0.456263,0.005332,0.378560,0.356140,UP
38470,0,0,0,0,0,0,1,0.915800,0.425532,0.074397,0.444213,0.005110,0.377525,0.369737,UP
38471,0,0,0,0,0,0,1,0.915800,0.468085,0.072835,0.423386,0.005019,0.354480,0.380263,UP
38472,0,0,0,0,0,0,1,0.915800,0.829787,0.065420,0.353913,0.004508,0.319524,0.319737,UP
38473,0,0,0,0,0,0,1,0.915800,0.978723,0.066651,0.329366,0.004630,0.345417,0.206579,UP

In [4]:
pd.DataFrame(range(len(new_df.columns)-1)).to_csv('index_features.txt', index=False, header=False)
pd.DataFrame([len(new_df.columns)-1]).to_csv('index_target.txt', index=False, header=False)